@model IEnumerable<Appointment>
@{
    ViewData["Title"] = "liste rdv";
}

<div class="text-center">
    <h1 class="display-6">Aujourd'hui, on est le</h1>
    <p class="display-6">@DateTime.Today.ToString("d")</p>
</div>
@if(Model.Count()>0)
{


    <div class="text-center">

        <table class="table" style="width:100%">
        <thead>
            <tr>
                <th>Identifiant rdv</th>
                <th>Date </th>
                <th>Sujet</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Appointment in Model)
            {
                <tr>
                    <td>@Appointment.IdAppointment</td>
                    <td>@Appointment.DateHour</td>
                    <td>@Appointment.Subject</td>
                </tr>            
            }
        </tbody>
    </table>
    </div>
}
